In [16]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [17]:
movie = pd.read_csv("movies.csv")
rating = pd.read_csv("ratings.csv")

In [18]:
movie.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [19]:
rating.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [20]:
movie_final = pd.merge(movie,rating,on="movieId").drop(["genres","timestamp","movieId"],axis=1)

In [21]:
movie_final["userId"] = "User"+movie_final["userId"].astype("str")

In [22]:
movie_final.head()

              title  userId  rating
0  Toy Story (1995)   User7     3.0
1  Toy Story (1995)   User9     4.0
2  Toy Story (1995)  User13     5.0
3  Toy Story (1995)  User15     2.0
4  Toy Story (1995)  User19     3.0

In [9]:
from surprise import Dataset, SVD, accuracy, Reader
from surprise.model_selection import train_test_split

In [23]:
movie_final1 = movie_final

In [24]:
reader = Reader(rating_scale=(1,5))

In [25]:
data = Dataset.load_from_df(movie_final,reader)

In [26]:
trainset,testset = train_test_split(data,test_size=0.3,random_state=1)

In [27]:
svd = SVD(n_factors=100)

In [28]:
svd.fit(trainset)

In [29]:
predictions = svd.test(testset)
accuracy.rmse(predictions)

RMSE: 0.9023

0.9023039191919443

In [30]:
movie_final.iloc[200]
user = "User534"
movie = "Toy Story (1995)"

In [31]:
svd.predict(user,movie)

Prediction(uid='User534', iid='Toy Story (1995)', r_ui=None, est=3.5402059941144537, details={'was_impossible': False})

In [32]:
movie_user_matrix = movie_final1.pivot_table(index="userId",columns="title",values="rating")

In [33]:
movie_user_matrix.head()

title,"""Great Performances"" Cats (1998)",$9.99 (2008),'Hellboy': The Seeds of Creation (2004),'Neath the Arizona Skies (1934),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),...,Zulu (1964),Zulu (2013),[REC] (2007),eXistenZ (1999),loudQUIETloud: A Film About the Pixies (2006),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931),İtirazım Var (2014)
userId,,,,,,,,,,,,,,,,,,,,,
User1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
User10,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
User100,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
User101,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
User102,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [34]:
movie_user_matrix.fillna(0,inplace=True)

In [35]:
movie_user_matrix.head()

title,"""Great Performances"" Cats (1998)",$9.99 (2008),'Hellboy': The Seeds of Creation (2004),'Neath the Arizona Skies (1934),'Round Midnight (1986),'Salem's Lot (2004),'Til There Was You (1997),"'burbs, The (1989)",'night Mother (1986),(500) Days of Summer (2009),...,Zulu (1964),Zulu (2013),[REC] (2007),eXistenZ (1999),loudQUIETloud: A Film About the Pixies (2006),xXx (2002),xXx: State of the Union (2005),¡Three Amigos! (1986),À nous la liberté (Freedom for Us) (1931),İtirazım Var (2014)
userId,,,,,,,,,,,,,,,,,,,,,
User1,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
User10,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
User100,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
User101,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
User102,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [37]:
movie_watched = movie_user_matrix["Toy Story (1995)"]
movie_watched

userId
User1      0.0
User10     0.0
User100    4.0
User101    0.0
User102    0.0
          ...
User95     0.0
User96     0.0
User97     1.0
User98     0.0
User99     4.0
Name: Toy Story (1995), Length: 671, dtype: float64

In [38]:
similarity_scores = movie_user_matrix.corrwith(movie_watched)
similarity_scores

title
"Great Performances" Cats (1998)            -0.032411
$9.99 (2008)                                -0.018494
'Hellboy': The Seeds of Creation (2004)      0.040978
'Neath the Arizona Skies (1934)             -0.028157
'Round Midnight (1986)                       0.037176
                                               ...
xXx (2002)                                   0.112633
xXx: State of the Union (2005)               0.060730
¡Three Amigos! (1986)                        0.149133
À nous la liberté (Freedom for Us) (1931)    0.050854
İtirazım Var (2014)                         -0.028157
Length: 9064, dtype: float64

In [39]:
similarity_scores.sort_values(ascending=False).head(10)

title
Toy Story (1995)                              1.000000
Toy Story 2 (1999)                            0.474141
Bug's Life, A (1998)                          0.393799
Groundhog Day (1993)                          0.372371
Monsters, Inc. (2001)                         0.366277
Independence Day (a.k.a. ID4) (1996)          0.356876
Finding Nemo (2003)                           0.348941
Incredibles, The (2004)                       0.346066
Shrek (2001)                                  0.344068
Willy Wonka & the Chocolate Factory (1971)    0.320002
dtype: float64